.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: end;
  gap: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
