.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #FFF;
  transition: .5s ease;
}

.header__lang-link:hover {
  opacity: .5;              /* Взял на себя смелость и увеличил затемнение для наглядности)) */
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
