.photo-grid {
  padding-top: 92px;
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    padding-top: 88px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 64px;
    margin: 0 16px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 450px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
