.places {
  padding-top: 87px;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 97px;
}

/* Добавил дополнительный запрос для лучшей адаптивности */

@media screen and (max-width: 1080px) {
  .places {
    max-width: 100%;
    margin: 0 48px 0;
    padding-bottom: 92px;
    padding-top: 92px;
  }
}

@media screen and (max-width: 1020px) {
  .places {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 765px) {
  .places {
    margin: 0 16px 0;
  }
}

@media screen and (max-width: 520px) {
  .places {
    margin: 0;
    padding-bottom: 65px;
    padding-top: 64px;
  }
}

