.places {
  padding-top: 7px;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 97px;
}

/* Добавил дополнительный запрос для лучшей адаптивности */

@media screen and (max-width: 1080px) {
  .places {
    max-width: 100%;
    margin: 0 48px 0;
    padding-bottom: 92px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 16px 0;
  }
}

@media screen and (max-width: 520px) {
  .places {
    margin: 0;
    padding-bottom: 66px;
    padding-top: 0;
  }
}

@media screen and (max-width: 321px) {
  .places {
    padding-top: 14px;
  }
}
