.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

/* Добавил дополнительный запрос для лучшей адаптивности */

@media screen and (max-width: 1080px) {
  .lead {
    max-width: 984px;
    padding-top: 48px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

