.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
  text-decoration: none;
  padding: 0 14px 0 0;
  transition: .5s ease;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__link:hover {
  opacity: .8;
}


@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 32px;

  }

  .footer__link:last-of-type {
    margin: 0;
  }
}
