.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 769px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 520px) {
  .place__paragraph {
    padding: 0 16px 0;
  }
}
