.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  padding-left: calc((100vw - 984px)/2);
  padding-top: 92px;
}

/* Добавил дополнительный запрос для плавности изменения */

@media screen and (max-width: 1080px) {
  .intro {
    max-width: 690px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding: 64px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
  }
}
