.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1184px) {
  .cover {
  max-width: 100%;
  min-height: calc(100vw*0.625);
  }
}

