.lead__caption {
  max-width: 158px;
  max-height: 14px;
  align-self: flex-start;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin: 8px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}
