.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  margin: 245px 0 0;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin: 195px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .cover__title {
    margin: 115px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 320px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 240px;
    margin: 0;
  }
}
