.place {
  padding-top: 80px;
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1025px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 769px) {
  .place {
    padding-top: 70px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

/* Добавил дополнительный запрос для лучшей адаптивности */

@media screen and (max-width: 765px) {
  .place {
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    padding-top: 62px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

@media screen and (max-width: 321px) {
  .place {
    padding-top: 48px;
  }
}

