.place {
  padding-top: 87px;
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1030px) {
  .place {
    padding-top: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 769px) {
  .place {
    padding-top: 88px;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    padding-top: 62px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

