.footer {
  max-width: 1184px;
  padding: 92px 0 24px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 1020px) {
  .footer {
    padding: 88px 0 24px 0;
    margin: 0 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 64px 0 24px 0;
    margin: 0 16px;
    flex-direction: column;
  }
}
